<div class="legal-page">
  <div class="container">
    <div class="legal-hero">
      <h1>Privacy Policy</h1>
      <p>Effective Date: 01-01-2026</p>
      <p>Last Updated: 01-01-2026</p>
    </div>
    <div class="legal-toc">
      <button (click)="scrollTo('intro')">Introduction</button>
      <button (click)="scrollTo('dataCollection')">Data Collection</button>
      <button (click)="scrollTo('security')">Security</button>
    </div>
    <!-- <p class="effective-date">
      Effective Date: 01-01-2026 <br />
      Last Updated: 01-01-2026
    </p> -->

    <section class="legal-card" id="intro">
      <h2>1. Introduction</h2>
      <p>
        This Privacy Policy describes how Fatafat Masala ("Company", "we", "our", "us") collects, uses, stores, and
        protects your personal data when you access or use our website.
      </p>
    </section>

    <section class="legal-card" id="dataCollection">
      <h2>2. Information We Collect</h2>
      <ul>
        <li>Full Name</li>
        <li>Email Address</li>
        <li>Mobile Number</li>
        <li>Billing & Shipping Address</li>
        <li>Order and Transaction Details</li>
        <li>IP Address and Browser Information</li>
      </ul>
    </section>

    <section class="legal-card">
      <h2>3. Purpose of Data Collection</h2>
      <p>We use your information to:</p>
      <ul>
        <li>Process and deliver orders</li>
        <li>Provide customer support</li>
        <li>Prevent fraud</li>
        <li>Improve website functionality</li>
        <li>Comply with legal obligations</li>
      </ul>
    </section>

    <section class="legal-card">
      <h2>4. Payment Security</h2>
      <p>
        All payments are processed via secure third-party payment gateways. We do not store your debit/credit card
        details.
      </p>
    </section>

    <section class="legal-card">
      <h2>5. Data Sharing</h2>
      <p>
        We may share your data with logistics partners, payment providers, and regulatory authorities when required by
        law. We do not sell personal data.
      </p>
    </section>

    <section id="security" class="legal-card">
      <h2>6. Data Security</h2>
      <p>We implement reasonable security safeguards. However, no internet transmission is 100% secure.</p>
    </section>

    <section class="legal-card">
      <h2>7. User Rights</h2>
      <p>
        You may request access, correction, or deletion of your data by contacting us at:
        <strong>fatafatmasala&#64;gmail.com</strong>
      </p>
    </section>

    <section class="legal-card">
      <h2>8. Governing Law</h2>
      <p>This policy is governed by the laws of India.</p>
    </section>
  </div>
</div>
