<div class="outer-container">
  <div class="search-input-group">
    <input (keyup)="applyFilter($event)" type="text" placeholder="Search products" />
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="full-width-table">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>S. No.</th>
      <td mat-cell *matCellDef="let product; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let product">{{ product.name }}</td>
    </ng-container>

    <!-- MRP Column -->
    <ng-container matColumnDef="mrp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>MRP</th>
      <td mat-cell *matCellDef="let product">{{ product.mrp }}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td mat-cell *matCellDef="let product">{{ product.price }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>

      <td mat-cell *matCellDef="let product; let i = index" class="action-cell">
        <button mat-icon-button color="red" aria-label="Edit" (click)="onEdit(product)">
          <mat-icon style="color: var(--primary)">edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" aria-label="Delete" (click)="onDelete(product._id)">
          <mat-icon style="color: var(--primary)">delete</mat-icon>
        </button>

        <button
          *ngIf="!product.isActive"
          mat-icon-button
          color="warn"
          aria-label="Check"
          (click)="onEnableDisable(product._id, true)"
        >
          <mat-icon style="color: var(--primary); font-weight: 700">check</mat-icon>
        </button>

        <button
          *ngIf="product.isActive"
          mat-icon-button
          color="warn"
          aria-label="Close"
          (click)="onEnableDisable(product._id, false)"
        >
          <mat-icon style="color: var(--primary); font-weight: 700">close</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons> </mat-paginator>

  <form class="product-form" (ngSubmit)="onSave()" #f="ngForm">
    <!-- Row 1: 3 inputs -->
    <div class="form-row three-cols">
      <div class="input-group">
        <label class="field-label">Product name</label>
        <input name="name" placeholder="Name" [(ngModel)]="formModel.name" required />
        <span *ngIf="showError && !formModel.name" class="error">Please enter Product name</span>
      </div>

      <div class="input-group">
        <label class="field-label">MRP</label>
        <input type="number" name="mrp" placeholder="MRP" [(ngModel)]="formModel.mrp" />
        <span *ngIf="showError && !formModel.mrp" class="error">Please enter MRP</span>
      </div>

      <div class="input-group">
        <label class="field-label">Price</label>
        <input type="number" name="price" placeholder="Price" [(ngModel)]="formModel.price" required />
        <span *ngIf="showError && !formModel.price" class="error">Please enter Price</span>
      </div>
    </div>

    <!-- Row 2: textarea full width -->
    <div class="form-row full">
      <div class="input-group">
        <div class="description-label-container">
          <label class="field-label">Description</label>
          <button
            class="primary-btn2"
            mat-button
            *ngIf="this.formModel.name"
            type="button"
            [disabled]="isGenerating"
            (click)="onGenerate(this.formModel.name)"
          >
            <!-- mat-button
            matFab
            extended -->
            Generate 🤖
          </button>
          <div *ngIf="isGenerating" class="spinner"></div>
        </div>
        <textarea
          [disabled]="isGenerating"
          rows="3"
          name="description"
          placeholder="Description"
          [(ngModel)]="formModel.description"
        >
        </textarea>
        <span *ngIf="showError && !formModel.description" class="error">Please enter Description</span>
      </div>
    </div>

    <!-- Row 3: button full width -->
    <!-- <div class="form-row actions">
      <button mat-raised-button color="primary" type="submit">
        {{ editingIndex !== null ? 'Update' : 'Add' }}
      </button>
    </div> -->
    <div class="actions">
      <button
        *ngIf="this.formModel._id !== ''"
        style="margin-right: 20px"
        class="primary-btn"
        type="button"
        (click)="onStopEditing()"
      >
        Stop editing
      </button>
      <button class="primary-btn" type="submit">{{ this.formModel._id !== '' ? 'Update' : 'Add' }}</button>
    </div>
  </form>
</div>
