<section class="hero fade-in">
  <div class="hero-text">
    <h1>Pure. Fresh.<br />Authentic Indian Spices.</h1>
    <p>
      Handpicked spices, traditionally ground,<br />
      bringing real flavor to every dish.
    </p>
    <div class="hero-buttons">
      <button class="primary" (click)="gotoProducts()">Shop Now</button>
      <button class="secondary">Explore Our Spices</button>
    </div>
  </div>

  <div class="hero-image">
    <!-- <div class="image-placeholder"> -->
    <img src="../assets/images/image1.jpeg" />
    <!-- </div> -->
  </div>
</section>

<!-- ================= BEST SELLERS ================= -->
<section class="section fade-up">
  <h2>Our Best Sellers</h2>

  <div class="products">
    <div class="card" *ngFor="let product of products" (click)="onClickProduct(product._id)">
      <div class="img">
        <img class="image" [src]="product?.images?.[0]?.url || '../../assets/images/fatafat-masala-logo.jpg'" />
      </div>
      <h3>{{ product.name }}</h3>
      <p class="price-span">
        <b class="price">₹{{ product.price }}</b
        ><span class="dashed-price">₹{{ product.mrp }}</span
        ><span class="discount-badge">-{{ (((product.mrp - product.price) / product.mrp) * 100).toFixed(0) }}%</span>
      </p>
      <button>Check Product</button>
    </div>

    <!-- <div class="card">
      <div class="img">
        
      </div>
      <h3>Chicken Masala</h3>
      <p class="price">₹149</p>
      <button>Add to Cart</button>
    </div>

    <div class="card">
      <div class="img">
        
      </div>
      <h3>Sambar Powder</h3>
      <p class="price">₹119</p>
      <button>Add to Cart</button>
    </div>

    <div class="card">
      <div class="img">
        
      </div>
      <h3>Pepper Powder</h3>
      <p class="price">₹139</p>
      <button>Add to Cart</button>
    </div> -->
  </div>
  <div class="view-all-btn-container">
    <button class="back-to-products" (click)="gotoProducts()">
      <span>View All Products</span>
      <span class="arrow">→</span>
    </button>
  </div>
</section>

<!-- ================= WHY CHOOSE ================= -->
<section class="section alt fade-up">
  <h2>Why Choose Fatafat Masala?</h2>

  <div class="why">
    <div class="why-image">
      <img src="../../assets/images/fatafat-masala-logo.jpg" />
    </div>
    <ul>
      <li>✔ 100% Natural Ingredients</li>
      <li>✔ No Artificial Colors</li>
      <li>✔ Traditionally Ground</li>
      <li>✔ Hygienically Packed</li>
      <li>✔ Authentic Indian Taste</li>
    </ul>
  </div>
</section>
