/* ================= HERO ================= */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 80px 60px;
  align-items: center;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  margin-bottom: 15px;
}

.hero p {
  margin-bottom: 25px;
}

.hero-buttons button {
  padding: 12px 25px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.primary {
  background: linear-gradient(135deg, #d9a441, #f28918);
  color: white;
  margin-right: 15px;
}

.secondary {
  background: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.hero-buttons button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.hero-image img {
  width: 100%;
  border-radius: 10px;
}

/* ================= SECTIONS ================= */
.section {
  padding: 70px 60px;
  text-align: center;
}

.section.alt {
  background: #f9f4ee;
}

.section h2 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  margin-bottom: 40px;
}

/* ================= PRODUCTS ================= */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
}

.card .img {
  height: 150px;
  background: #ddd;
  border-radius: 12px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 16px;
}

.price-span {
  margin: 10px 0;
}

.price {
  color: var(--primary);
  font-size: 1.2rem;
}

.dashed-price {
  margin-left: 10px;
  text-decoration: line-through;
  color: var(--primary);
  font-size: 1rem;
}

.card button {
  width: 100%;
  padding: 10px;
  background: var(--linear);
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

/* ================= WHY ================= */
.why {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.why-image img {
  height: 220px;
  background: #ddd;
  border-radius: 5px;
}

.why ul {
  list-style: none;
  text-align: left;
}

.why li {
  margin-bottom: 12px;
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease forwards;
}

.fade-up {
  animation: fadeUp 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
